.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav--left {
}

.nav__navigation--right {
}

.nav__list-item {
  list-style: none;
  position: relative;
}

.nav__dropdown-icon {
  fill: currentColor;
}

.nav__dropdown-icon {
  fill: currentColor;
  transition: all 0.2s;
}

.nav__dropdown-icon.flipped {
  transform: rotate(540deg);
}

.nav__links:link,
.nav__links:visited {
  color: $color-gray-05;
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #fff;
  transition: all 0.2s;
}

.nav__links:hover,
.nav__links:active,
.active .nav__links:link,
.active .nav__links:visited {
  color: $color-gray-06;
}

.nav__links--dropdown:link,
.nav__links--dropdown:visited {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__dropdown-menu {
  display: none;
  list-style: none;
}

.nav__dropdown-menu.is-open {
  position: absolute;
  min-width: 150px;
  display: block;
  top: 6.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: slide-in 0.2s;
}

.nav__dropdown-menu .nav__links:hover {
  background-color: $color-gray-02;
}

.nav__funds {
  @include text-clip-gradient;
  margin: 0 auto;
}
